<% if @user.id == session[:id] %>
    <h2 align="center">My Pickies</h2>
<% else %>
    <h2 align="center"><%= @user.username %>'s Pickies</h2>
<% end %>

<div class="my pickies chart">
    <table class="pickies chart">
        <colgroup>
            <col class="pickiesName">
            <col class="pickiesAddress">
            <col class="pickiesNeighborhood">
            <col class="pickiesZipCode">
        </colgroup>
        <thead>
            <tr>
                <th>Picky</th>
                <th>Address</th>
                <th>Neighborhood</th>
                <th>Zip Code</th>
            </tr>
        </thead>
        <tbody class="pickies list">
            <% @user.products.each do |p| %>
                <tr>
                    <td class="pickyNameColumn"> <a href="/pickies/<%= p.id %>"> <%= p.name %></a></td>
                    <td class="pickyAddressColumn"> <%= p.location.address %></td>
                    <td class="pickyNeighborhoodColumn"> <%= p.location.neighborhood %></td>
                    <td class="pickyZipCodeColumn"> <%= p.location.zip_code %></td>
                </tr>
            <% end %>      
        </tbody>
    </table>
</div>